html, body{
	text-align:center;
	color:#444;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
  font-family: 'Open Sans', Arial, sans-serif;
/* 	font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif; */
	overflow:hidden;
 	/*background:url('../images/marbleShelf.jpg'); */
	background-size:100% 100%;
}



#productView{
	position:absolute;
	width:100%;
	top:0;
	left:0;
	height:100%;
}
.yellowBody{
   background-color: rgb(255, 184, 0);  
}
.completePurchaseImage{
  max-width: 30%;
  max-height: 30%;
  position: absolute;
  top: 27%;
  left: 65%;
}
.moreInfo{
	color:rgb(0, 139, 255);
	text-align:right;
}
.whiteModal{
  background: white;
  background:#ddd;
  width: 45%;
  height: 50%;
  margin-top: 10%;
  /* padding-top: 40px; */
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  text-align: left;
  padding: 20px 40px 40px 40px;
}
.blueBody{  
	background-color: rgb(17, 146, 176);
}
/* .blueBackground{
	display:none;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	background:red;
	background-image:url('/assets/images/blueBackground.jpg');

 } */
 .blueBackground{
   display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  /* bottom: 0; */
 }
.back{
  color: #444;
  position: absolute;
  top: 60%;
  left: 3%;
  font-size: 80px;
}
.yellowDiv{
   display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 184, 0);
}
.backgroundPay{
	background-color:rgb(229, 19, 210);
	display:none;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
}
#mainDivAvailableList{
	padding-left:10%;
	padding-top:5%;
}
.availableListDiv{
  display: inline;
  float: left;
  min-height: 615px;
  /* margin: 1%; */
  /* margin-bottom: 2%; */
  /*width: 13%;
  padding:1%;
  height: 38%;
  padding-top:2%;*/
  text-align: center;
}
.availableProduct {
    position: relative;
    height: 320px;
    width: 250px;
}

.productImage {
	position: absolute;
	bottom: 0;
	left: 0;
}

#itemName {
	max-width: 500px;
}

.availableListImage{
  height:70%;
  padding-top:5%;
  background-repeat: no-repeat;
  background-position: center; 
  background-size:contain;
}
.priceAvailableList{
	margin-top:10px;
	font-weight:100;
}
.productContainer{
	width:33%;
	height:90%;
	vertical-align:center;
	float:left;
	display:inline:block;
}
.productContainerMessage{
	width:100%;
/* 	padding-left:120px; */
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
	height:300px;
}
h1{
	font-weight:400;
	font-size:134px;
}
h2{
	font-weight:400;
	font-size:60px;
}
a{
	text-decoration:none;
}
.doneButton{
	color:#08c;
	font-size:30px;
	background:none;
	border:none;
	height:100px;
}
/* .btn {
  position: relative;
  display: block;
  margin-left: 5%;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  line-height: 80px;
  padding: 20px 0px;
  color: #fff;
  font-size: 60px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background-color: #2da3ee;
  box-shadow: inset 0 0 7px 0 rgba(white, 0.5);
} */
/* .btn{
	  position: relative;
  display: block;
  margin-left: 5%;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-radius: 10px;
  line-height: 80px;
  padding: 20px 0px;
  color: #fff;
  font-size: 60px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background-color: rgb(255, 47, 47);
  box-shadow: inset 0 0 7px 0 rgba(white, 0.5);
} */
.btn{
	background:none;
	border:none;
	color:black;
	font-size:40px;
	color:black;
/* 	color:white; */
}


/*IE9*/
*::selection 
{
    background-color:transparent;
} 
*::-moz-selection
{
    background-color:transparent;
}
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}    
input[type="text"], textarea, [contenteditable]
{

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.disclaimer{
}


.bodyMain{
	
/* 	background:url('http://freehddesktopwallpaper.info/wp-content/uploads/2013/09/abstract-wallpaper-hd-green-141.jpg'); */
/* background:url('http://www.freelargeimages.com/wp-content/uploads/2014/12/Cool_background-3.jpg'); */
/* background:url('../images/swirlBackground.jpg') */
/* background:black; */
/*  	background:url('../images/marbleShelf.jpg'); */
   background:url('../images/bg-black.png');
}
.btn{
	color:white;
	  background: black;
  border-radius: 5px;
}
body.bodyMain i, body.bodyMain .back, body.bodyMain span{
	color: #888 !important;
}
body.bodyMain #productDescription{
	color:black !important;
}