html, body{
  text-align:center;
  color:#444;
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  font-family: 'Open Sans', Arial, sans-serif;
  /* 	font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif; */
  overflow:hidden;
  /*background:url('../images/marbleShelf.jpg'); */
  background-size:100% 100%;
}
#productList {
	border-bottom: 5px solid #bbb;
}
.problem-dialog {
    position: absolute;
    width: 1000px;
    height: 800px;
    top: 50px;
    /* border: 5px black solid; */
    background-color: white;
    z-index: 100;
    right: 465px;
    /* border-radius: 25px; */
    display: none;
    font-size: 30px;
    line-height: 55px;
    box-shadow: 7px 5px 20px 5px;
}
.contact-info {
	line-height:40px;
	margin-top:20px;
	font-size:25px;
	margin-left:25px;
	margin-right:25px;
}
.problem-button {
	width: 300px !important;
}
#report-form {
  text-align: left;
  padding-left: 130px;
  padding-right:100px;
}
input[type="radio"]{
  vertical-align:middle;
  margin-right: 10px;
}
.problem-dialog input[type="text"]{
  height: 45px;
  border: 2px solid #bbb;
  margin-left: 20px;
  width: 500px;
  font-size:25px;
  padding-left:10px;
  vertical-align: middle;
  margin-top: -8px;
}
.phoneButton{
  float: left;
  width: 90px;
  line-height: 90px;
  height: 85px;
  display: inline;
  color: white;
  background-color: #bbb;
  border: 4px solid #FFF;
  font-size: 40px;
}
#email-form {
  position: absolute;
  top: 400px;
  left: 575px;
}
#sms-form {
  width: 354px;
  margin-top: -30px;
}

.deleteKey{
  height: 40px;
  margin-top: 20px;
  color: white;
}
.receiptError{
	color:red;
}
.receipt h2{
	margin-top:50px;
	color:#666;
	font-size:100px;
	padding:0px;
	margin-bottom:50px;
}

.email-prompt {
	text-align: left;
	margin: 0px;f
}
#receipt-options {
	margin-bottom:50px;
}
.receipt h3 {
	font-size: 30px;
}

.report-problem {
  position: absolute;
  right: 0px;
  top: 900px;
}

.thank-you-report {
	display:none;
	position: absolute;
	right:57px;
	top: 944px;
}

#disclaimer-text {
  float: left;
  margin-left: 25px;
}

.receipt{
	color:#666;
}
.contactInput{
	line-height:50px;
	width:450px;
	font-size: 30px;
  	text-align: center;
    padding: 10px;
    border: 2px solid #bbb;
}
.phoneInput{
	line-height:50px;
	width:320px;
	font-size: 30px;
  	text-align: center;
  	border:3px solid #bbb;
 }
.contactInfo h3{
	font-size:30px;
}
.contactDoneButton{
  font-size: 30px;
  border: 0px;
  background-color: #87b643;
  opacity: .85;
  margin-top:-40px;
  width:200px;
  top:-30px;
  border-radius: 15px;
  height: 61px;
  z-index: 1;
  color: white;
  letter-spacing: 1.5px;
  font-weight: bold;
}
#phoneKeyPad{
  margin-left:25px;
}
.contactButton.selected {
  background-color: #87b643;

  color: white;

}

.contactButton.email {
	width: auto;
	padding-left:30px;
	padding-right:30px;
}

.contactButton {
  background-color: white;
  border: 5px solid #87b643;
  color: #87b643;
  font-size: 30px;
  width: 450px;
  border-radius: 15px;
  height: 81px;
  z-index: 1;
  letter-spacing: 1.5px;
  font-weight: bold;
  margin: 15px;
  text-transform: uppercase;
}

.hidden {
    visibility: hidden;
    over-flow: hidden;
    width: 0px;
    height: 0px;
}

.contactButton.secondary {
  font-size: 30px;
  border: 5px solid #bbb;
  /* background-color: #f87b64300; */
  background-color: white;
  opacity: .85;
  width: 350px;
  border-radius: 15px;
  height: 81px;
  z-index: 1;
  color: #87b643;
  letter-spacing: 1.5px;
  font-weight: bold;
  margin: 15px;
}

.noReceipt .contactButton{
	top:150px;
}
.phoneSend {
  font-size: 30px;
  border: 0px;
  background-color: #87b643;
  opacity: .85;
  width: 450px;
  border-radius: 15px;
  height: 81px;
  z-index: 1;
  color: white;
  letter-spacing: 1.5px;
  font-weight: bold;
  position: absolute;
  top: 750px;
  right:200px;
}
.contactInfo.noReceipt{
  top:580px;
  padding-top:4%;
  padding-bottom:10%;
}
.cornerLabel {
  position: absolute;
  left: -75px;
  top: -3px;
  display: block;
  width: 245px;
  font-size: 22;
  /* border-top: 2px black solid;
  border-bottom: 2px black solid;*/

  background: #87b643;
  opacity: .85;
  font-weight: bold;
  color: white;
  transform: rotate(-45deg);
  -moz-transform:rotate(-45deg);
  /* Safari and Chrome */
  -webkit-transform:rotate(-45deg);
  /* Opera */
  -o-transform:rotate(-45deg);
  /* IE9 */
  -ms-transform:rotate(-45deg);

}
.cornerLabel p:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -1px;
  right: -11px;
  z-index: -1;
  border: 55px solid;
  border-color: white white transparent transparent;
}
.cornerLabel p:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -2px;
  right: 140px;
  z-index: -1;
  border: 55px solid;
  border-color: white transparent transparent white;
}
.contactInfo{
  border-radius: 25px;
  padding: 2%;
  /* width: 29%; */
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border:5px solid #bbb;

}

#productInfo {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  display: inline-block;
}
.productImageDetail {
  display: block;
  /*
  position: absolute;
  left: 50%;
  right: -50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate (-50%, -50%);
  */
  float:right;
}

.productImageContainer {
  /*height: 400px; */
  width: 30%;
  float: left;
  display: inline-block;
  position: relative;
  margin-left: 100px;
  margin-top: 50px;
  padding-top: 120px;
}

.productDetails {
     float: right;
    width: 46%;
    margin-left: 20px;
    display: inline-block;
    padding: 50px 50px 0px 50px;
    margin: 20px 20px 0px 20px;
}

#brandInfo {
    display: inline-block;
    position: absolute;
    /* border: 3px solid #bbb; */
    /* border-radius: 25px; */
    padding: 50px;
    margin-top: 50px;
    width: 1148px;
    background-color: #ddd;
    z-index: 0;
    left: 0;
    bottom: 0;
}

#brandText {
    width: 66%;
    margin-left: 100px;
    display: inline-block;
}

#productView{
  position:absolute;
  width:100%;
  top:0;
  left:0;
  height:100%;
  display: block;
  background-color: white;
}

.brandLogo {
width: 200px;
    float: left;
    position: absolute;
    left: 50;
    top: 50%;
    bottom: -50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

.brandName {
  font-size: 30px;
  text-align: left;
  float: left;
}

.brandDescription {
text-align: left;
    font-size: 24px;
    color: #777;
    margin-right: 20px;
    float: left;
}

#leftBlock {
    float: left;
    width: 65%;
}

#rightBlock {
	float: right;
	width: 35%;
}

.yellowBody{
  background-color: rgb(255, 184, 0);
}
.completePurchaseImage{
  max-width: 30%;
  max-height: 30%;
  position: absolute;
  top: 35%;
  left: 60%;
}
.moreInfo{
  color:rgb(0, 139, 255);
  text-align:right;
}
.whiteModal{
  /* background: white;
  background:#ddd; */
  background: #ff3e96;
  opacity: .75;
  color: white;
  width: 45%;
  height: 50%;
  margin-top: 10%;
  /* padding-top: 40px; */
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  text-align: left;
  padding: 20px 40px 40px 40px;
}
.blueBody{
  background-color: rgb(17, 146, 176);
}
/* .blueBackground{
display:none;
position:absolute;
left:0;
right:0;
bottom:0;
background:red;
background-image:url('/assets/images/blueBackground.jpg');

 } */
  .blueBackground{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    /* bottom: 0; */
 }
 #swipeMessage {
    font-size: 70px;
    color: #87b643;
    display: inline-block;
    padding-left: 50px;
    padding-top: 150px;
    padding-right: 50px;
    background-color: black;
    height: 100%;
}

.fa-credit-card {
	font-size: 150px !important;
}

.fa-arrow-right {
	font-size: 150px !important;
}

.back {
    display: block;
    color: #f87b64300;
    background-color: white;
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 30px;
    padding: 22px;
    border-radius: 25px;
    border: 5px solid #f87b64300;
    position: absolute;
    top: 0%;
    /* bottom: 5%; */

}

.yellowDiv{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 184, 0);
}
.backgroundPay{
  background-color:rgb(229, 19, 210);
  display:none;
  position:absolute;
  left:0;
  right:0;
  bottom:0;
}
#mainDivAvailableList{
  background-color: #bbb;
}
.availableListDiv {
  position: relative;
  display: inline;
  float: left;
  text-align: center;
  width: 457px;
  height: 439px;
  /* border: solid #bbb 5px; */
  box-shadow: 10px 10px 5px #888;
  background-color: white;
  margin: 11px;
}



.cornerPrice {
  position: absolute;
  left: -75px;
  top: 5px;
  display: block;
  width: 245px;
  font-size: 22;
  /* border-top: 2px black solid;
  border-bottom: 2px black solid;*/
  background: #bbb;
  font-weight: bold;
  color: white;
  transform: rotate(-45deg);
  -moz-transform:rotate(-45deg);
  /* Safari and Chrome */
  -webkit-transform:rotate(-45deg);
  /* Opera */
  -o-transform:rotate(-45deg);
  /* IE9 */
  -ms-transform:rotate(-45deg);

}

.cornerPrice p:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -13px;
  right: -11px;
  z-index: -1;
  border: 55px solid;
  border-color: white white transparent transparent;
}

.cornerPrice p:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -2px;
  right: 165px;
  z-index: -1;
  border: 55px solid;
  /* border-color: #caffdd transparent transparent #caffdd;
  border-color: #e1fbfb transparent transparent #e1fbfb; */
  border-color: white transparent transparent white;
}


.bodyMain{
    background-color:white;
}

.productBuyButton {
  font-size: 30px;
  border: 0px;
  background-color: black;
  width: 100%;
  height: 81px;
  z-index: 1;
  color: #87b643;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  right: -50%;
  position: absolute;
}

.productBuyButton #price {
	float: right;
	padding-right: 15px;
}

.productBuyButton #category {
	float: left;
	padding-left: 15px;
}


.availableProduct {
  position: relative;
}

.productImage {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 14%;
}

#itemName {
	text-align: left;
	font-size: 40px;
}

#productPrice {
	text-align: left;
	font-size: 30px;
	margin: 30px 0 30px 0;
	color: #333;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding: 30px;
}
.availableListImage{
  height:70%;
  padding-top:5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
.priceAvailableList{
  margin-top:10px;
  font-weight:100;
}
.productContainer{
  width:33%;
  height:90%;
  vertical-align:center;
  float:left;
  display:inline:block;
}
.productContainerMessage{
  width:100%;
  /* 	padding-left:120px; */
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:10%;
  height:300px;
}
h1{
  font-weight:400;
  font-size:134px;
}
h2{
  font-weight:400;
  font-size:60px;
}
a{
  text-decoration:none;
}
.doneButton{
  color:#08c;
  font-size:30px;
  background:none;
  border:none;
  height:100px;
}

  .btn{
    background:none;
    border:none;
    color:black;
    font-size:40px;
    color:black;
    /* 	color:white; */
}


/*IE9*/
*::selection
{
  background-color:transparent;
}
*::-moz-selection
{
  background-color:transparent;
}
*
{
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  /*IE10*/
  -ms-user-select: none;
  user-select: none;

  /*You just need this if you are only concerned with android and not desktop browsers.*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="text"], textarea, [contenteditable]
{

  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.disclaimer{
}

.btn{
  color:white;
  background: black;
  border-radius: 5px;
}
body.bodyMain i, body.bodyMain .back, body.bodyMain span{
  /* color: #888 !important; */
}
body.bodyMain #productDescription{
  text-align: left;
  width: 94%;
  font-size: 24px;
  margin: 0px 0px 0px -11px;
}

.description-bullet {
  padding-top: 15px;	
}
