<html>
<head>
@linksLanding()
</head>

<body>

<div class="backButton" onclick="javascript:window.location='/'">
<i class="fa fa-chevron-left"></i>&nbsp;&nbsp;back
</div>

<h2>
<br>
CONTACT US
</h2>
For any questions regarding your purchase order or product quality, please email <b><a class="blueLink" href="mailto:info&#64;oasysventures.com" target="_top">info&#64;oasysventures.com</a></b>
<br>
<br>
For business inquiries for Oasys Ventures, please email <b><a  class="blueLink" href="mailto:jackie&#64;oasysventures.com" target="_top">Jackie&#64;oasysventures.com</a></b>


</body>
</html>