
<!doctype html>
<html>
  <head>
  
	@linksLanding()
    <meta charset="utf-8">
    	<title>Oasys</title>
            
            <style>
			body, html{
			     border:0px;margin:0px;
			     width: 100%;
			     height: 100%;
			     font-family:calibri,helvetica,arial;
			     font-size:20px;
			     line-height:24px;
			}
			#content{
			     text-align:center;
			     padding-top:15%;
			     opacity:0;
			}
			#content img{
		      max-width:90%;
		    }
		    #logo{
		      width:700px;
		    }
            </style>
            <script type="text/javascript">

            $(document).ready(function(){
               //$("#content").fadeIn( "slow", function() {});
                  $( "#content" ).animate({
				    opacity: "1",
				    paddingTop: "20%"
				  }, 1000, function() {
				    // Animation complete.
				  });
            });
            
            
            </script>
  </head>
  <body>
    <div id="content">
        <img id="logo" src="/assets/images/logoIncMain.png"></img>
        <br>
        info&nbsp;<img src="/assets/images/at.png" style="width:12px;"></img>&nbsp;oasysventures.com
    	
    	<div class="footerLinks" style="">
	    	<a href="contactus">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;
	    	<a href="terms">Terms and Conditions</a>&nbsp;&nbsp;&nbsp;&nbsp;
	    	<a target="_blank" href="https://angel.co/oasys-ventures-1/jobs/56937-senior-full-stack-developer">Apply</a>
    	</div>
    
    </div>
  </body>
</html>

