
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 home"> <![endif]-->
  <!--[if IE 7 ]>    <html class="ie7 home"> <![endif]-->
    <!--[if IE 8 ]>    <html class="ie8 home"> <![endif]-->
      <!--[if IE 9 ]>    <html class="ie9 home"> <![endif]-->
        <!--[if (gt IE 9)|!(IE)]><!-->
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
        <html class="home"> <!--<![endif]-->
          <link href="@routes.Assets.at("stylesheets/style.css")" rel="stylesheet"><link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favico    n.png")">
          <head>
            <meta name="google-site-verification" content="STXMbua4kod5shla2yq2vGODX6RXmRYgQ3GQf8YYXio" />
            <title>BeautyTouch</title>
            <link href="style.css" media="all" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="fonts.css" type="text/css" charset="utf-8" />

          </head>
          <body id="home">

            <div class="header">
              <div class="content">
                <img src="/assets/images/whitefont.png">
              </div>
            </div>


            <div class="form-wrap clearfix ">
              <p class="byline mark"> LAUNCHING OCTOBER 2015.</p><br>
              <p class="byline mark"> ARE YOU ON THE LIST?</p>
              <br><br>

              <form action="//beautytouch.us11.list-manage.com/subscribe/post?u=90c89827a025378b4be4d27ce&amp;id=85756b107a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>





                <div class="gender-block clearfix">
                  <input checked="checked" class="hidden" id="mce-MMERGE1-0" name="MMERGE1" type="radio" value="Beauty Shopper" />
                  <label class="mark" for="mce-MMERGE1-0">Beauty Shopper</label>

                  <input class="hidden" id="mce-MMERGE1-1" name="MMERGE1" type="radio" value="Interested Venue" />
                  <label class="mark" for="mce-MMERGE1-1">Interested Venue</label>
                </div>

                <div class="email-block clearfix">
                  <input class="name mark" id="mce-MMERGE2" name="MMERGE2" placeholder="Full name" size="30" type="text" />

                </div>

                <div class="email-block clearfix">
                  <input class="email mark" id="mce-EMAIL" name="EMAIL" placeholder="Enter email" size="30" type="text" />
                  <input class="submit mark" name="commit" type="submit" value="SUBSCRIBE" />
                </div>
            </form></div>




          </body>
        </html>

