@main("Dashboard"){ @topNav() }{ @sidebar() }{

<script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/table.css")">

<div ng-app="" ng-controller="machineController"> 

<div id="chooseItemDiv">
	<div style="padding:20px;background:white;border-radius:10px; margin:10px 20% 0px 20%;">
		<h1>Choose an item</h1>
		<a href="javascript:$('#chooseItemDiv').css('display','none')">
		<i class="fa fa-times" style="float: right;text-align: right;padding: 20px;margin-top: -80px;font-size: 30px;color: #444;"></i>
		</a>
		<table class="styledTable modal" cellspacing='0'>
		  <thead>
				<tr>
					<th></th>
					<th>sku#</th>
					<th>Name</th>
					<th>Price</th>
					<th>Package</th>
				</tr>
		  </thead>
		  <tr ng-click="selectedProduct(product.item_sku)" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="product in products">
		    <td><img class="productListImage" ng-src="productImage/{{product.item_img}}"></td>
		    <td>{{ product.item_sku }}</td>
		    <td>{{ product.item_name }}</td>
		    <td>{{ product.price | currency}}</td>
		    <td>{{ product.packageType }}</td>
		  </tr>
		</table>


	</div>
</div>

<div class="mainContent">

	@loading()
	
	<h1>Vending Machine - {{itemIDLabel}} &nbsp;&nbsp;
	<button ng-click="loadActivityLog()" class="cleanButton greenButton">Activity Log</button>
	</h1>
	
	<div class="mainMessage">
		<i class="fa fa-info-circle"></i>
		Register or update vending machine.
	</div>
	
	<div class="errorMessage" style="display:none;">
		<i class="fa fa-exclamation-triangle"></i>
		verify address to continue
	</div>
	
	<h2>Inventory
	<button class="cleanButton greenButton" id="submit" ng-click="saveClicked()">
		Save
	</button>
	</h2>
	
	<div class="containerWrapper" ng-click="changeItem($index)" ng-repeat="c in machine.hooks">
			<div class="productType">
				<img class="productImg" src="productImage/{{c.product.item_img}}"></img><br>
				<span class="blue">{{c.product.item_name}}</span>
				<br>sku# {{c.product.item_sku}}<br><br>${{c.product.price}}
			</div>
			<font style="color:#0582CA">edit</font>
		<br>Slot #{{c.id}}<br>
	    </div>
		<br>
	</div>
	
			<div style="clear:both;"></div>
	<br>
	
<!-- 	<h2>Machine Status
	    <table>
	        <tr>
	            <th>Time</th>
	            <th>Traffic</th>
	            <th>Jammed?</th>
	        </tr>
	    </table>
	</h2> -->
	
	<br>
	
	<h2>Location
	<button class="cleanButton greenButton" id="submit" ng-click="saveClicked()">
		Save
	</button>
	</h2>
	
	<table style="display:inline;">
		<tr>
			<td>Address:</td>
			<td>
				<input ng-model="machine.address" style="display:inline;" type="text" size="53" id="address" name="address" value="">
			</td>
			<td>
			<td>
				<button style="display:inline;" class="cleanButton" id="verify" onClick="button_click(this.id)">
				Verify Address
				</button>
			</td>
		</tr>
	</table>
	<br>

	
	<div id="map_canvas" style="margin: 0px; width: 100%; height: 600px"></div>

	<br>


</div>

</div>

<script src="@routes.Assets.at("javascripts/machineController.js")" type="text/javascript"></script>

}


