<html>
<head>
@linksVending()
<script>
$(document).ready(function(){
	
	setTimeout(function() {
		window.location="/vendingMain?machineId="+getParameterByName("machineId");
	}, 4000);
	$.ajax({
	      type: "POST",
	      url: "/logEvent",
	      data: JSON.stringify({ "machine_id": getParameterByName("machineId"), "event_type": "payment_failed", "product_sku": 0}),
	      dataType: "json",
	      headers: {
	        "content-type": "application/json"
	      }
	});
	
	$.ajax({
        type: "POST",
        url: "/alertFail",
        data: JSON.stringify({"machine_id": getParameterByName("machineId"), "message": "Payment failed" }),
        dataType: "json",
        headers: {
          "content-type": "application/json"
        },
      });
	
});

function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>
</head>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>

<body style="background: url(http://s3.amazonaws.com/oasys-images/466634084.jpg); background-size: cover">
	<div style="position: relative;
    text-align: center;
    color:black;
    width: 48%;
    margin: 0 auto;
    height: 100%;
    line-height:80px;
    padding-top:100px">
		<h2 style="font-size: 70px; margin: 0px; text-align: center; letter-spacing: 7px;">Oops!</h2><br>
		
		<div id="text" style="margin-top:-72px">
		<span style="font-size: 28px;
    font-family: roboto condensed;
    letter-spacing: 3px;
    line-height: 54px;">(Something went wrong)</span><br>
		<p style="font-size: 28px;
    font-family: roboto condensed;
    letter-spacing: 3px;
    line-height: 54px;">We were unable to charge your credit card.<br> Please make your selection and try again. <br></p>
    </div>
    <div id="logo" style="    position: absolute;
    bottom: 100px;">
    <img style="width: 4%;" src="/assets/images/b.png"/>
    <span style="
    font-size: 50px;
    font-family: roboto condensed;
    letter-spacing: 7px;
    line-height: 70px;
    vertical-align: text-bottom;"> BEAUTYTOUCH</span>
    </div>
	</div>
</body>
</html>