<html>
<head>
@linksVending()
<script>
$(document).ready(function(){
	setTimeout(function() {
		window.location="/vendingMain?machineId="+getParameterByName("machineId");
	}, 4000);
	$.ajax({
	      type: "POST",
	      url: "/logEvent",
	      data: JSON.stringify({ "machine_id": getParameterByName("machineId"), "event_type": "payment_failed", "product_sku": 0}),
	      dataType: "json",
	      headers: {
	        "content-type": "application/json"
	      }
	});
	$.ajax({
        type: "POST",
        url: "/alertFail",
        data: JSON.stringify({"machine_id": getParameterByName("machineId"), "message": "Payment failed" }),
        dataType: "json",
        headers: {
          "content-type": "application/json"
        },
      });
});

function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>
</head>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>

<body style="background: url(https://s3.amazonaws.com/oasys-images/email-background.png); background-size: 30%;">
	<div style="position: relative;
    text-align: center;
    width: 48%;
    margin: 0 auto;
    background-color: white;
    height: 100%;">
		<img style="margin-top: 6%;
    width: 43%;" src="https://s3.amazonaws.com/oasys-images/circle.gif">
		<h2 style="font-size: 300%; margin: 0px; text-align: center; letter-spacing: 0.08em;">Oops! Payment Failed</h2><br>
		<p style="font-size: 150%;
    font-family: Roboto Condensed;
    letter-spacing: 0.05em;
    line-height: 100%;">Please make your selection and swipe again <br><img style="width: 4%;" src="/assets/images/b.png"/>
    <span style="font-size: 150%;
    letter-spacing: 0.05em;
    line-height: 100%;
    margin-top: 5%;
    vertical-align: text-bottom;"> BEAUTYTOUCH</span></p>
	</div>
</body>
</html>