<html>
  <head>
    @linksVending()
  </head>
  <script>
    $(document).ready(function(){
      if (typeof Android != 'undefined') {
        Android.logTap("payment_processing", 0);
      } else {
        $.ajax({
          type: "POST",
          url: "/logEvent",
          data: JSON.stringify({ "machine_id": getParameterByName("machineId"), "event_type": "payment_processing", "product_sku": 0}),
          dataType: "json",
          headers: {
            "content-type": "application/json"
          }
        });
      }
      setTimeout(function() {
        $('#long').fadeIn();
        $('#process-hed').fadeOut();

      }, 30000);
      setTimeout(function() {
        window.location="/paymentFailed?machineId="+getParameterByName("machineId");
        if (typeof Android != 'undefined') {
          Android.logTap("payment_timeout", 0);
        } else {
          $.ajax({
            type: "POST",
            url: "/logEvent",
            data: JSON.stringify({ "machine_id": getParameterByName("machineId"), "event_type": "payment_timeout", "product_sku": 0}),
            dataType: "json",
            headers: {
              "content-type": "application/json"
            }
          });
        }
      }, 75000);
    });

    function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
      results = regex.exec(location.search);
      return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
  </script>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>

  <body style="background: url(https://s3.amazonaws.com/oasys-images/email-background.png); background-size: 300px;">
    <div style="position: relative;
      text-align: center;
      width: 48%;
      margin: 0 auto;
      background-color: white;
      height: 100%;">
      <div id="long" style="display: none; padding-top:5%;">
        <h2 style="font-size: 400%; margin: 0px; text-align: center; letter-spacing: 0.05em;">Still Processing</h2><br>
        <p style="font-size: 190%;
        font-family: Roboto Condensed;
        letter-spacing: 0.05em;
        line-height: 150%;
        padding: -0.1em 0.1em">
        Just taking a little longer than expected.<br>
        It's worth the wait!
        </p>
      </div>
      <img style="margin-top: 6%;
      width: 35%;" src="https://s3.amazonaws.com/oasys-images/circle.gif">
      <h2 id="process-hed" style="font-size: 350%; margin: -5%; text-align: center; letter-spacing: 0.03em;">Processing payment</h2><br>
      <p style="font-size: 225%;
      font-family: Roboto Condensed;
      letter-spacing: 0.05em;
      padding-top:8%;
      line-height: 150%;">#prettyconvenient shopping by <br><img style="width: 4%;" src="/assets/images/b.png"/>
      <span style="font-size: 100%;
        letter-spacing: 0.1em;
        line-height: 100%;
        vertical-align: text-bottom;"> BEAUTYTOUCH</span></p>
      <p style="font-size: 200%;
      font-family: Roboto Condensed;
      letter-spacing: 0.1em;"><b></b><p>
    </div>
  </body>
</html>
