<html>
<head>
@linksVending()
</head>
<script>
$(document).ready(function(){
	$.ajax({
	      type: "POST",
	      url: "/logEvent",
	      data: JSON.stringify({ "machine_id": getParameterByName("machineId"), "event_type": "payment_processing", "product_sku": 0}),
	      dataType: "json",
	      headers: {
	        "content-type": "application/json"
	      }
	});
	setTimeout(function() {
		window.location="/paymentFailed?machineId="+getParameterByName("machineId");
		$.ajax({
		      type: "POST",
		      url: "/logEvent",
		      data: JSON.stringify({ "machine_id": getParameterByName("machineId"), "event_type": "payment_timeout", "product_sku": 0}),
		      dataType: "json",
		      headers: {
		        "content-type": "application/json"
		      }
		});
	}, 30000);
});

function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>

<body style="background: url(https://s3.amazonaws.com/oasys-images/email-background.png); background-size: 300px;">
	<div style="position: relative;
    text-align: center;
    width: 48%;
    margin: 0 auto;
    background-color: white;
    height: 100%;">
		<img style="margin-top: 68px;
    width: 43%;" src="https://s3.amazonaws.com/oasys-images/circle.gif">
		<h2 style="font-size: 70px; margin: 0px; text-align: center; letter-spacing: 7px;">Processing payment</h2><br>
		<p style="font-size: 28px;
    font-family: helvetica neue;
    letter-spacing: 3px;
    line-height: 54px;">#prettyconvenient shopping by <br><img style="width: 4%;" src="/assets/images/b.png"/>
    <span style="font-size: 50px;
    letter-spacing: 7px;
    line-height: 70px;
    vertical-align: text-bottom;"> BEAUTYTOUCH</span></p>
    <p style="font-size: 28px;
    font-family: helvetica neue;
    letter-spacing: 3px;"></p>
	</div>
</body>
</html>
