<html>
<head>
@linksVending()
</head>

<body class="yellowBody">
<!-- <div ng-app="" ng-controller=""> --> 
<div>

<!-- <img src="assets/images/blueBackground.jpg" class="blueBackground"/>  -->
<div class="blueBackground"></div>
	<div style="position:relative;">
		<h2 style="font-size:70px;">
		<br>
		<i style="font-size:80px;margin-top:20%;"class="fa fa-spinner"></i>
		&nbsp;&nbsp;Processing payment&nbsp;&nbsp;<br>
	</div>
</div>

<!-- <script src="@routes.Assets.at("javascripts/payController.js")" type="text/javascript"></script>
 -->
</body>
</html>