@main("Dashboard"){
@topNav()
}{
@sidebar()
}{

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/table.css")">

<div ng-app="" ng-controller="productSales">
  <div class="mainContent">
    <h1>Sales for Product</h1>
  
  <table class="styledTable" cellspacing='0'>
  <thead>
		<tr>
			<th>Sale ID</th>
			<th>Machine</th>
			<th>Sales Total</th>
			<th>Time</th>
		</tr>
  </thead>
  <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="sale in sales">
    <td> {{sale.id}}</td>
    <td> {{sale.machine_id}}</td>
    <td> {{sale.sales_total}}</td>
    <td> {{sale.time}}</td>
  </tr>    
</table>
  </div>
</div>

<script src="@routes.Assets.at("javascripts/productSales.js")" type="text/javascript"></script>

}
