@main("Dashboard"){
	@topNav()
}{
	@sidebar()
}{

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/table.css")">
        
<div ng-app="" ng-controller="productListController"> 
<div class="mainContent">
<h1>Product List</h1>

<table class="styledTable" cellspacing='0'>
  <thead>
		<tr>
			<th></th>
			<th>sku#</th>
			<th>Name</th>
			<th>Price</th>
			<th>Description</th>
			<th>Package</th>
		</tr>
  </thead>
  <tr ng-click="loadProduct(product.item_sku)" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="product in products">
    <td><img class="productListImage" ng-src="productImage/{{product.item_img}}"></td>
    <td>{{ product.item_sku }}</td>
    <td>{{ product.item_name }}</td>
    <td>{{ product.price | currency}}</td>
    <td>{{ product.item_description }}</td>
    <td>{{ product.package_type }}</td>
  </tr>
</table>


</div>
</div>
<script src="@routes.Assets.at("javascripts/productListController.js")" type="text/javascript"></script>

}