@main("Dashbard"){ @topNav() }{ @sidebar() }{

<script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>

<div ng-app="" ng-controller="productController"> 

<div class="mainContent">

	@loading()

	<h1>Product - sku# {{itemSkuLabel}}</h1>
	
	<div class="mainMessage">
		<i class="fa fa-info-circle"></i>
		Create or edit product
	</div>
	
	<div class="errorMessage" style="display:none;">
		<i class="fa fa-exclamation-triangle"></i>
		Form contains errors.
	</div>
	
	<h2>Product details
	</h2>
	<table class="productTable" cellspacing='0'>
		<tr>
			<td><span style="color:red">*</span>Product name:<br>
			<font color="red">{{itemNameError}}</font>
			</td>
			<td>
				<input style="" type="text" size="53" id="item_name" ng-model="item_name"/>
			</td>
		</tr>
		<tr>
		  <td>Subtitle:<br>
		  </td>
		  <td>
		    <input type="text" size="53" id="subtitle" ng-model="subtitle"/>
		  </td>
		</tr>
		<tr>
		  <td><span style="color:red">*</span>Category:<br>
		  <font color="red">{{categoryError}}</font>
		  </td>
		  <td>
		      <input style="" type="text" size="53" id="category" ng-model="category"/>
		  </td>
		</tr>
		<tr>
		  <td><span style="color:red">*</span>Brand:<br>
		  </td>
		  <td>
		      <select id="brandSelect" ng-model="brand.id" ng-options="opt.id as opt.name for opt in brandList"></select>																
		  </td> 
		</tr>
		<tr>
			<td><span style="color:red">*</span>Image:<br>
			<font color="red">{{itemImgError}}</font>
			</td>
			<td>
				<input id="fileupload" type="file" name="files[]" data-url="postProductImage" title="">
				<img id="productImage-main">
			</td>
		</tr>
		<tr>
		  <td>Detail Image:<br>
		  </td>
		  <td>
		    <input id="fileupload-detail" type="file" name="files[]" data-url="postProductImage" title="">
		    <img id="productImage-detail">
		  </td>
		</tr>
		<tr>
		  <td>Thumbnail Image:<br>
		  </td>
		  <td>
		    <input id="fileupload-thumbnail" type="file" name="files[]" data-url="postProductImage" title="">
		    <img id="productImage-thumbnail">
		  </td>
		</tr>
		<tr>
			<td><span style="color:red">*</span>Price:<span style="float:right;"></span><br>
			<font color="red">{{priceError}}</font></td>
			<td style="vertical-align: top;">
				$ &nbsp;<input style="" type="text" size="10" id="price" ng-model="price"/>
			</td>
		</tr>
		<tr>
			<td>Description:</td>
			<td>
				<textarea style="height:60px;" type="text" rows="3" cols="38" id="itemDescription" ng-model="itemDescription"></textarea>
			</td>
		</tr>
		<tr>
			<td><span style="color:red">*</span>Package type:</td>
			<td>
					<select id="packageSelect" ng-model="package_type" ng-options="opt as opt.label for opt in packageTypeOptions"></select>																
			 </td> 
		</tr>
	</table><br>
		<button class="cleanButton greenButton" id="submit" ng-click="submit()">
		Save
	</button>

</div>

</div>

<script src="@routes.Assets.at("javascripts/productController.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.ui.widget.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.iframe-transport.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.fileupload.js")"></script>
<script>

</script>

}


