
<!-- Product -->

<tr>
  <td width="100" style="min-width:100px;"></td>

  <td width="120" style="min-width:120px;">
    <img src="http://beautytouch.co:9000/productImage/{{product-image}}" width="118" max-height="118" border="0" alt="" border="0" style="display:block; font-size:10px; font-family: 'Helvetiva Neue', 'Helvetic.jpga', sans-serif; letter-spacing: .5px; font-weight:100; color:#3272b8; text-decoration:none; border: 1px solid #dddddd;">
  </td>

  <td width="10" style="min-width:10px;"></td>

  <td width="170" style="min-width:170px; font-size:16px; line-height:24px; font-family: 'Helvetiva Neue', 'Helvetica', sans-serif; letter-spacing: 0.0px; color:#260c0e; text-align:left; text-decoration:none; font-weight:100;">
    {{product-name}} <br/>
    <span style="color:#777777;">
      {{product-price}}
    </span>
  </td>

  <td width="100" style="min-width:100px;"></td>
</tr>

<tr height="20"><td></td></tr>

<!-- End Product -->
