<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<style>
body{line-height:24px;font-family: 'Source Sans Pro', sans-serif;}
</style>
</head>
<body>
<table width='100%' border='0' cellspacing='0' cellpadding='20' 
style='background-image: url(https://s3.amazonaws.com/oasys-images/email-background.png); 
     background-repeat: repeat;
     background-size: 300px 300px;
     width: 100%'>

<tr><td style='text-align: center;padding: 100px 0px 0px 0px;'>
  <img style='width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;' src='https://s3.amazonaws.com/oasys-images/thanks-banner.png'/> 
</td></tr>
<tr><td style='padding:0px; text-align: center;'>
   <div style='width: 70%; display: block;
    margin-left: auto;
    margin-right: auto; padding:10px 0px 10px 0px; text-align:left; background-color: white'>
      <div id='image-container' style='width: 50%;
    display: inline-block;
    position: relative;'>
      <img style='max-height: 200px; display: block; margin: auto;' src='https://oasysventures.com/productImage/fcc914d4-7ebf-4ed9-b43f-3ad4edce1c34.jpg'/>
      </div>
      <div id='product-info' style='    width: 50%;
    float: right;
    position: relative;
    margin-top: 30px;'>
      <span style='font-size: 2em;
    float: left;
    width: 100%;
    margin-bottom: 16px;'>Sheer Lipgloss in Pink Nude</span>
      
      <span style='float:left; width: 50%; font-weight: bolder;
    font-size: 19px;'>Purchased at</span><span style='float: right;
    text-align: right;
    margin-right: 114px;font-weight: bolder;
    font-size: 19px;'>Total</span>
      <span style='float:left; width: 50%'>195 Binney St</span><span style='float: right;
    text-align: right;
    margin-right: 114px;'>$3.00</span>
      </div>
      </div>
</td></tr>
<tr><td style='padding:0px; text-align: center;'>
  <img style='width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #d9d3e8' src='https://s3.amazonaws.com/oasys-images/beauty-hack-header.png'/>
</td></tr>
<tr><td style='padding:0px; text-align: center;'>
  <div style='width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #d9d3e8'>
    BEAUTY HACK CONTENT
    </div>
</td></tr>
<tr><td style='text-align: center;padding: 0px 0px 100px 0px;'>
  <img style='    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;' src='https://s3.amazonaws.com/oasys-images/hashtag-banner.png'/> 
</td></tr>

</table>
</body>
</html>
