<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<style>
body{line-height:24px;font-family: 'roboto condensed', sans-serif;}
</style>
</head>
<body>
<table width='100%' border='0' cellspacing='0' cellpadding='20' 
style='background-image: url(https://s3.amazonaws.com/oasys-images/email-background.png); 
     background-repeat: repeat;
     background-size: 300px 300px;
     width: 100%'>

<tr><td style='text-align: center;padding: 100px 0px 0px 0px;'>
  <img style='width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;' src='https://s3.amazonaws.com/oasys-images/thanks-banner.png'/> 
</td></tr>
<tr><td style='padding:0px; text-align: center;'>
   <div style='width: 70%; display: block;
    margin-left: auto;
    margin-right: auto; padding:10px 0px 10px 0px; text-align:left; background-color: white'>
      <div id='image-container' style='width: 20%;
    display: inline-block;
    position: relative;'>
      <img style='max-height: 200px; display: block; margin: auto;' src='https://s3.amazonaws.com/oasys-images/b.png'/>
      </div>
      <div id='product-info' style='    width: 80%;
    float: right;
    position: relative;
    margin-top: 30px;'>
      <div style="width:100%" class="product">
        <span class="name">Sheer Lipgloss in Pink Nude</span><span style="float: Right;
    margin-right: 15%;">$3</span>
    </div>
    <div style="width:100%" class="product">
    <span class="name">U by Kotex Travel Pack</span><span style="float: Right;
    margin-right: 15%;">$2</span>
    </div>
    <div style="width:100%" class="product">
    <span class="name">Eva NYC Dry Shampoo</span><span style="float: Right;
    margin-right: 15%;">$6</span>
      </div>
      
      <div style="width: 85%;
    border-top: 2px solid #bbb;
    padding-bottom: 20px;
    margin-top: 20px;"class="sale-info">
      </div>
      <span style='float:left; width: 50%; font-weight: bolder;
    font-size: 19px;'>Purchased at</span><span style='float: right;
    text-align: right;
    margin-right: 15%;font-weight: bolder;
    font-size: 19px;'>Total</span>
      <span style='float:left; width: 50%'>195 Binney St</span><span style='float: right;
    text-align: right;
    margin-right: 15%;'>$11.00</span>

      </div>
      </div>
</td></tr>
<tr><td style='padding:0px; text-align: center;'>
  <img style='width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #d9d3e8' src='https://s3.amazonaws.com/oasys-images/beauty-hack-header.png'/>
</td></tr>
<tr><td style='padding:0px; text-align: center;'>
  <div style='width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #d9d3e8'>
    BEAUTY HACK CONTENT
    </div>
</td></tr>
<tr><td style='text-align: center;padding: 0px 0px 100px 0px;'>
  <img style='    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;' src='https://s3.amazonaws.com/oasys-images/hashtag-banner.png'/> 
</td></tr>

</table>
</body>
</html>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>

