<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<title>BeautyTouch</title>
</head>



<body bgcolor="#E6EAF2" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- Header -->
<table align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <table width="500" align="center" style="background-color: #FFFFFF; text-align:center;" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="175" height="130" style="min-width:175px;"></td>
                         <td width="150" height="130" style="min-width:150px;">
                            <a href="http://beautytouch.co/">
                                <img src="https://s3.amazonaws.com/oasys-images/receipt_images/logo-lockup.jpg" width="150" height="86" border="0" alt="It's #PrettyConvenient" style="display:block; font-size:18px; font-family: 'Helvetiva Neue', 'Helvetica', sans-serif; letter-spacing: .5px; font-weight:100; color:#3272b8; text-decoration:none; text-transform:lowercase;">
                            </a>
                        </td>
                        <td width="175" height="130" style="min-width:175px;"></td>
                    </tr>
                </table>

                <table width="500" style="background-color: #FFFFFF; margin-bottom:0;" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="500" style="min-width:500px; font-size:16px; line-height:22px; font-family: 'Helvetiva Neue', 'Helvetica', sans-serif; letter-spacing: 0.0px; color:#260c0e; text-align:center; text-decoration:none; font-weight:100;" colspan="5">

                                Thank you for your purchase! <br/>
                                <span style="color:#777777;"> How was your BeautyTouch experience? </span>

                        </td>
                    </tr>
                    <tr height="10"><td></td></tr>
                    <tr>
                        <td width="500" style="min-width:500px; text-align:center;" colspan="5">

                                <!--Stars -->

                                <a href="http://www.beautytouch.co:9000/feedback?rating=1&machineId={{machine-id}}"><img src="https://s3.amazonaws.com/oasys-images/receipt_images/star.jpg" width="40" height="33" border="0" alt="" style="display:inline-block; font-size:18px; font-family: 'Helvetiva Neue', 'Helvetica', sans-serif; letter-spacing: .5px; font-weight:100; color:#3272b8; text-decoration:none; text-transform:lowercase;"></a>

                                <a href="http://www.beautytouch.co:9000/feedback?rating=2&machineId={{machine-id}}"><img src="https://s3.amazonaws.com/oasys-images/receipt_images/star.jpg" width="40" height="33" border="0" alt="" style="display:inline-block; font-size:18px; font-family: 'Helvetiva Neue', 'Helvetica', sans-serif; letter-spacing: .5px; font-weight:100; color:#3272b8; text-decoration:none; text-transform:lowercase;"></a>

                                <a href="http://www.beautytouch.co:9000/feedback?rating=3&machineId={{machine-id}}"><img src="https://s3.amazonaws.com/oasys-images/receipt_images/star.jpg" width="40" height="33" border="0" alt="" style="display:inline-block; font-size:18px; font-family: 'Helvetiva Neue', 'Helvetica', sans-serif; letter-spacing: .5px; font-weight:100; color:#3272b8; text-decoration:none; text-transform:lowercase;"></a>

                                <a href="http://www.beautytouch.co:9000/feedback?rating=4&machineId={{machine-id}}"><img src="https://s3.amazonaws.com/oasys-images/receipt_images/star.jpg" width="40" height="33" border="0" alt="" style="display:inline-block; font-size:18px; font-family: 'Helvetiva Neue', 'Helvetica', sans-serif; letter-spacing: .5px; font-weight:100; color:#3272b8; text-decoration:none; text-transform:lowercase;"></a>

                                <a href="http://www.beautytouch.co:9000/feedback?rating=5&machineId={{machine-id}}"><img src="https://s3.amazonaws.com/oasys-images/receipt_images/star.jpg" width="40" height="33" border="0" alt="" style="display:inline-block; font-size:18px; font-family: 'Helvetiva Neue', 'Helvetica', sans-serif; letter-spacing: .5px; font-weight:100; color:#3272b8; text-decoration:none; text-transform:lowercase;"></a>
                        </td>
                    </tr>
                    <tr height="30"><td></td></tr>

