<html>
<head>
@linksVending()
</head>

<body class="bodyMain receipt">
<div ng-app="" ng-controller="receiptController"> 
	<div>
	  <div id="receipt-prompt">
	    <h2>How would you like your receipt?</h2>
	    <i class="fa fa-plus-circle closeButton" ng-click="skipReceipt()" id="no-receipt"></i>
	  </div>
	  <div id="receipt-options">
	    <button class="methodButton selected" id="email">Email</button>
	    <button class="methodButton" id="sms">Text Message</button>
	  </div>
	  <div id="report-problem" class="report-problem">
	  <h3>Problem with this machine?
	     <button class="contactButton secondary" ng-click="reportProblem()">Report</button>
       </h3>
	</div>
	<div id="problem-dialog" class="problem-dialog">
	 <h3>Report a Problem</h3>
	 <form id="report-form" ng-init="formData.problem='vending'" action="">
     <label><input ng-model="formData.problem" type="radio" name="problem" value="vending">Product didn't vend<br></label>
     <label><input ng-model="formData.problem" type="radio" name="problem" value="jammed">Machine appears to be jammed<br></label>
     <label><input ng-model="formData.problem" type="radio" name="problem" value="cc-swiper">Problem with credit card swiper<br></label>
     <label><input ng-model="formData.problem" type="radio" name="problem" value="product">Received incorrect or damaged product<br></label>
     <label><input ng-model="formData.problem" type="radio" name="problem" value="machine">Machine is damaged or vandalized<br></label>
     <label><input ng-model="formData.problem" type="radio" name="problem" value="other">Other:<input ng-model="formData.other" type="text" name="other"><br></label>
     <p class="contact-info">If you would like to be contacted about this issue please enter your email address:</p>
     <input id="problem-email" ng-model="formData.email" type="text" name="email">
     </form>
	 <button class="contactButton problem-button secondary" style="float: left; margin-left:175px;" ng-click="reportBack()">Back</button>
	 <button class="contactButton problem-button" style="float:right;margin-right:175px;" ng-click="submitReport()">Submit</button>
	</div>
	  <div class="thank-you-report" id="thank-you-report-receipt">
	  <h3>Thank you for reporting an issue with this machine.</h3>
	</div>
	  <div class="contactInfo" id="email-form" style="position: absolute;">
		<h3 class="email-prompt">Email address:</h3>
		<h3 class="receiptError">{{emailError}}</h3>
		<input id="emailInput" class="contactInput" type="text" ng-model="emailAddress"/>
		<button class="contactButton email" ng-click="submitEmail()">Submit</button>
	  </div>
	  <!-- div class="contactInfo hidden noReceipt" id="no-receipt-form">
		<button class="contactButton" ng-click="skipReceipt()">Confirm</button>
	  </div> -->
		
	  <div class="contactInfo hidden" id="sms-form">
		<h3 class="receiptError">{{phoneError}}</h3>
		<input type="text" class="phoneInput" ng-model="phoneNumber" readonly/>
		<br>
		<br>
		<div id="phoneKeyPad">
			<div class="phoneButton" ng-click="addNumber(1)">1</div>
			<div class="phoneButton" ng-click="addNumber(2)">2</div>
			<div class="phoneButton" ng-click="addNumber(3)">3</div>
			<div class="phoneButton" ng-click="addNumber(4)">4</div>
			<div class="phoneButton" ng-click="addNumber(5)">5</div>
			<div class="phoneButton" ng-click="addNumber(6)">6</div>
			<div class="phoneButton" ng-click="addNumber(7)">7</div>
			<div class="phoneButton" ng-click="addNumber(8)">8</div>
			<div class="phoneButton" ng-click="addNumber(9)">9</div>
			<div class="phoneButton">&nbsp;</div>
			<div class="phoneButton" ng-click="addNumber(0)">0</div>
			<div class="phoneButton" ng-click="deleteNumber()"><img class="deleteKey" src="@routes.Assets.at("images/deleteKey.png")"></img></div>
		</div>
		<button class="phoneSend" ng-click="submitPhoneNumber()">Submit</button>
	  </div>
		
		<br>
	 </div>
	 <div style="clear:both;"></div>
</div>

<script src="@routes.Assets.at("javascripts/receipt.js")" type="text/javascript"></script>

</body>
</html>