@()
<script>
$(document).ready(function(){
	//set sidebar height
	var h = $( document ).height();
	var hTopNav = $(".topNav").height();
	var marginTop = 0;
	var hToFill = h-hTopNav-marginTop+"px";
	$(".sidebar").css("margin-top",marginTop);
	$(".sidebar").height(hToFill);
	
	$(window).resize(function(){
		//set sidebar height
		h = $( document ).height();
		var hToFill = h-hTopNav-marginTop+"px";
		$(".sidebar").css("margin-top",marginTop);
		$(".sidebar").height(hToFill);
	});
});
</script>
<div class="sidebar">
	<br>
	<ul>
	<li><a class="sectionTitle"><i class="fa fa-bar-chart"></i>Vending Machines<i class="fa fa-chevron-down rightIcon"></i></a></li>
	<li id="machineList"><a href="machineList"><i class="fa fa-list-ul subitem"></i>List view</a></li>
	<li id="machine"><a href="machine"><i class="fa fa-plus-square subitem"></i>Create</a></li>
	<li><a class="sectionTitle"><i class="fa fa-dropbox"></i>Products<i class="fa fa-chevron-down rightIcon"></i></a></li>
	<li id="productList"><a href="productList"><i class="fa fa-list-ul subitem"></i>List view</a></li>
	<li id="product"><a href="product"><i class="fa fa-plus-square subitem"></i>Create</a></li>
	<li><a class="sectionTitle"><i class="fa fa-dropbox"></i>Brands<i class="fa fa-chevron-down rightIcon"></i></a></li>
	<li id="brandList"><a href="brandList"><i class="fa fa-list-ul subitem"></i>List view</a></li>
	<li id="brand"><a href="brand"><i class="fa fa-plus-square subitem"></i>Create</a></li>
	<li id="sales"><a class="sectionTitle"><i class="fa fa-dropbox"></i>Sales</a></li>
	<li id="sales-by-product"><a href="salesProduct"><i class="fa fa-list-ul subitem"></i>By Product</a></li>
	<li id="sales-by-machine"><a href="salesMachine"><i class="fa fa-list-ul subitem"></i>By Machine</a></li>
    <li id="engagements"><a class="sectionTitle"><i class="fa fa-dropbox"></i>Engagements</a></li>
	<li id="engagements-by-product"><a href="productEngagements"><i class="fa fa-list-ul subitem"></i>By Product</a></li>
	<li id="engagements-by-machine"><a href="machineEngagements"><i class="fa fa-list-ul subitem"></i>By Machine</a></li>
	</ul>
</div>