<html>
<head>
@linksVending()
</head>

<body style="background: url(https://s3.amazonaws.com/oasys-images/email-background.png);">
<div> 
	<div id="message" style="display:none;" class="productContainer productContainerMessage">
		<h1 style="text-transform: uppercase;
    letter-spacing: 9px;
    background-color:white;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 82px;">Thank you!</h1>
		<h2 style="margin: 0;
    text-align: center;
    text-transform: uppercase;
    padding: 107px;
    background-color: white;">Please wait while your product vends.
		</h2>
		<br>
    </div>
</div>

<script src="@routes.Assets.at("javascripts/thankYou.js")" type="text/javascript"></script>

</body>
</html>