<html>
  <head>
    @linksVending()
  </head>
  <script>
    $(document).ready(function(){
      $.ajax({
        type: "POST",
        url: "/logEvent",
        data: JSON.stringify({ "machine_id": getParameterByName("machineId"), "event_type": "thankyou_page", "product_sku": 0}),
        dataType: "json",
        headers: {
          "content-type": "application/json"
        }
      });
    });

    function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
      results = regex.exec(location.search);
      return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
  </script>
  <body style="background: url(https://s3.amazonaws.com/oasys-images/email-background.png);">
    <div ng-app="" ng-controller="thankYouController">
      <div id="message" style="display:none; background-color:white;" class="productContainer productContainerMessage">

        <i class="fa fa-plus-circle closeButton" ng-click="productReceived()" id="goodbye"></i>
        <h1 style="text-transform: uppercase; font-size:400%; letter-spacing: 9px; margin-top: -3%; margin-bottom: 0; padding: 82px;">Thank you!</h1>
        <h2 style=" text-align: center; background-color: white; padding: 30px 0px 100px 0px; width: 100%; left: 0; position: absolute; margin: 0px; top: 35%;">Great choice! We know you'll love it.</h2>

        <p class="yes-no" style="text-align: center; background-color: white; width: 100%; position: absolute; margin: 1em 0px; top: 30%; font-size: 30; font-family: roboto condensed; font-weight: 100; letter-spacing: 1px; padding:1.5em 0px"> How was your BeautyTouch experience?<br>
          <i class="fa fa-smile-o yes-no" style="border: 2px solid #aaa; padding: 30px; border-radius: 20px; margin: 24px; FONT-SIZE: 120PX; box-shadow: 1px 1px 10px #aaa; color: mediumpurple;" ng-click="productReceived()"><!--  span style="font-family: roboto-condensed; padding: 10px">Great!</span>--></i>
          <i class="fa fa-frown-o yes-no" style="    border: 2px solid #aaa; padding: 30px; border-radius: 20px; margin: 24px; font-size: 120px; color: darkgrey; box-shadow: 1px 1px 10px #aaa;" ng-click="noProduct()"><!-- span style="font-family: roboto-condensed; padding: 10px">Help me</span> --></i>
        </p>
    <!-- p id="customer-support" style=" text-align: center; background-color: white; width: 100%; position: absolute; margin: 0px; top: 480px; font-size: 30; font-family: roboto condensed; font-weight: 100; letter-spacing: 1px; padding:110px 0px">If you are unsatisfied with your purchase, please <span style="text-decoration: underline;color: mediumpurple" ng-click="noProduct()" >let us know</u></p> -->
        <p id="confirm-no" style="text-align: center; width: 100%; position: absolute; margin: 0px; top: 35%; padding-bottom: 10%; font-size: 150%; font-family: 'roboto condensed'; font-weight: 100; letter-spacing: 0.01em; background-color: white; display:none">Our support team has been notified. <br>Please email <b>info&commat;beautytouch.co</b> or provide your phone number below to tell us more and we'll make it right.</p>
        <p id="confirm-phone" style="text-align: center; width: 100%; position: absolute; margin: 0px; top: 35%; padding-bottom: 10%; font-size: 150%; font-family: 'roboto condensed'; font-weight: 100; letter-spacing: 1px; background-color: white; display:none">Thank you. A customer service representative will be in touch shortly.</p>
      </div>
      <div id="phoneInput" style=" display:none; position: absolute; top: 50%; padding-top: 2%; padding: 0px 24px 24px; width: 100%; background-color: white;">
        <textarea rows="1" cols="30" class="promo-input secondary" ng-model="phoneNumber" readonly></textarea>
        <button ng-click="submitPhone()" class="add-to-cart-button secondary" style="top: 25%; margin-right: 30%;">Submit</button>
        <div id="numpad-receipt">
        <table class="fixed" cellspacing="10">
        <tr>
          <td width="30px"></td>
          <td width="30px"></td>
          <td width="30px"></td>
          <td width="30px"></td>
          <td width="30px"></td>
          <td width="30px"></td>
          <td width="30px"></td>
          <td width="30px"></td>
          <td width="30px"></td>
        </tr>
        <tr id="nums123">
          <td class="keyButton" colspan="3" ng-click="addNum('1')">1</td>
          <td class="keyButton" colspan="3" ng-click="addNum('2')">2</td>
          <td class="keyButton" colspan="3" ng-click="addNum('3')">3</td>
        </tr>
        <tr id="nums456">
          <td class="keyButton" colspan="3" ng-click="addNum('4')">4</td>
          <td class="keyButton" colspan="3" ng-click="addNum('5')">5</td>
          <td class="keyButton" colspan="3" ng-click="addNum('6')">6</td>
        </tr>
        <tr id="nums789">
          <td colspan="3" class="keyButton" ng-click="addNum('7')">7</td>
          <td colspan="3" class="keyButton" ng-click="addNum('8')">8</td>
          <td colspan="3" class="keyButton" ng-click="addNum('9')">9</td>
        </tr>
        <tr id="nums0">
          <td colspan="3" class="keyButton">&nbsp;</td>
          <td colspan="3" class="keyButton" ng-click="addNum('0')">0</td>
          <td colspan="3" class="keyButton" ng-click="deleteNum()">Delete</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script src="@routes.Assets.at("javascripts/thankYou.js")" type="text/javascript"></script>

  </body>
</html>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
