@(jsonString: String)
<html>
<head>
@linksVending()
</head>
<body class="bodyMain" style="">
<div id="machineJsonVariable" style="display:none;">@jsonString</div>

<div id="mainDivAvailableList" ng-app="" ng-controller="vendingMain" style=""> 


	<div id="productList">
		<div  ng-click="productSelected(product.itemSku)" ng-repeat="product in availableProducts"></a>
				  <div class="availableListDiv" >
				  	<div class="availableProduct" id="product{{product.itemSku}}">
					    <img class="productImage" src='productImage/{{product.itemImg}}'>
					    <br>
				    </div>
				    <button class="productBuyButton"><span id="category">{{product.category}}</span><span id="price">${{product.price}}</span></button>
				    <div style="clear:both;"></div>
				  </div>
				</div> 
			<div style="clear:both;"></div>
			
	</div>
	<div id="report-problem" class="report-problem">
	  <h3>Problem with this machine?
	     <button class="contactButton secondary" ng-click="reportProblem()">Report</button>
       </h3>
	</div>
	<div id="problem-dialog" class="problem-dialog">
	 <h3>Report a Problem</h3>
	 <form id="report-form" ng-init="formData.problem='vending'" action="">
     <label><input ng-model="formData.problem" type="radio" name="problem" value="vending">Product didn't vend<br></label>
     <label><input ng-model="formData.problem" type="radio" name="problem" value="jammed">Machine appears to be jammed<br></label>
     <label><input ng-model="formData.problem" type="radio" name="problem" value="cc-swiper">Problem with credit card swiper<br></label>
     <label><input ng-model="formData.problem" type="radio" name="problem" value="product">Received incorrect or damaged product<br></label>
     <label><input ng-model="formData.problem" type="radio" name="problem" value="machine">Machine is damaged or vandalized<br></label>
     <label><input ng-model="formData.problem" type="radio" name="problem" value="other">Other:<input ng-model="formData.other" type="text" name="other"><br></label>
     <p class="contact-info">If you would like to be contacted about this issue please enter your email address:</p>
     <input id="problem-email" ng-model="formData.email" type="text" name="email">
     </form>
	 <button class="contactButton problem-button secondary" style="float: left; margin-left:175px;" ng-click="reportBack()">Back</button>
	 <button class="contactButton problem-button" style="float:right;margin-right:175px;" ng-click="submitReport()">Submit</button>
	</div>
	<div class="thank-you-report" id="thank-you-report">
	  <h3>Thank you for reporting an issue with this machine.</h3>
	</div>
	<div id="disclaimer-text">
	<p>Please visit us at www.Oasysventures.com for our refund, privacy and pricing policy.</p>
	</div>

	<div id="productView" style="display:none;">
		  <div id="leftBlock">
		    <div id="productInfo">
		      <div class="productImageContainer">
			  <img class="productImageDetail" ng-src="productImage/{{selectedImg}}"/> 
			  </div>
			  <div class="productDetails">
			    <h2 id="itemName" style="margin:20px 0px;">{{selectedName}}</h2>
			    <h3 id="subtitle">{{selectedSubtitle}}</h3>
			    <h2 id="productPrice">{{selectedPrice | currency}}</h2>
			    <ul id="productDescription">
			      <li class="description-bullet" ng-repeat="bullet in selectedDescription">{{bullet}}</li>
			    </ul>
			  </div>
			
		      <div ng-hide="selectedBrandId == 0" id="brandInfo">
		        <img class="brandLogo" ng-src="brandLogo/{{selectedBrandLogo}}"/>
		        <div ng-hide="selectedBrandDescription ==''" id="brandText">
		            <p class="brandDescription">{{selectedBrandDescription}}</p>
		        </div>
		      </div>
		    </div>
		    <div ng-click="closeProduct()" class="back">
		      <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;back
		    </div>
		  </div>
		  <div class="report-problem" id="report-problem-pdp">
	        <h3>Problem with this machine?
	          <button class="contactButton secondary" ng-click="reportProblem()">Report</button>
	        </h3>
	      </div>
	      <div id="thank-you-report-pdp" class="thank-you-report">
	        <h3>Thank you for reporting an issue with this machine.</h3>
	      </div>
		  <div id="rightBlock">
		    <div id="swipeMessage">
		      <i class="fa fa-credit-card"></i>
		      <h2>Swipe card to purchase for {{selectedPrice | currency}}</h2>
		      <i class="fa fa-arrow-right"></i>
		    </div>
		    
		  </div>
      <div style="clear:both;"></div>
	</div>
	
	<div id="how-it-works" style="display:none;">
	  <div id="step-one">
	   <p>Choose your product! We offer a wide array of essentials personal and beauty products for on the go.
	   
	   </p>
	  </div>
	  <div id="step-two">
	    <p>Swipe your card. To streamline the experience, we remove the step of adding a product to your cart. 
	       Simply tap the product you want to buy and swipe your card. Your information is encrypted and safe,
	       so you can stop confidently.
	    </p>
	  </div>
	  <div id="step-three">
	  </div>
	</div>
	
</div>


<script src="@routes.Assets.at("javascripts/vendingMain.js")" type="text/javascript"></script>
<script type="text/javascript">
(function() {
var hm = document.createElement('script'); hm.type ='text/javascript'; hm.async = true;
hm.src = ('++u-heatmap-it+log-js').replace(/[+]/g,'/').replace(/-/g,'.');
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(hm, s);
})();
</script>

</body>
</html>